body {
  background: #f0f0f0;
  font-family: Arial, sans-serif;
  text-align: center;
  padding-top: 40px;
}

button {
  padding: 12px 20px;
  font-size: 18px;
  cursor: pointer;
  margin: 10px;
}

.char-btn {
  display: block;
  margin: 8px auto;
  padding: 10px 18px;
  font-size: 16px;
  cursor: pointer;
}

#game-screen {
  width: 320px;
  margin: auto;
  background: white;
  padding: 20px;
  border-radius: 10px;
}

#map {
  margin-top: 20px;
  padding: 15px;
  background: #ffffff;
  border-radius: 10px;
}

.map-button {
  display: block;
  margin: 8px auto;
  padding: 10px 18px;
  font-size: 16px;
  cursor: pointer;
}
